<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.youlehuo.app">
    <!--android:sharedUserId="android.uid.system"-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--<uses-permission android:name="android.permission.INJECT_EVENTS"/>-->

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MMaterialTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".four_zujian.getapk.GetApkActivity" />
        <activity android:name=".aboutview.scrollview.SecondActivity" />
        <activity android:name=".four_zujian.handlermessage.MessageActivity" />
        <activity android:name=".four_zujian.deeplinks.DeepLinksActivity" />
        <activity android:name=".aboutview.myselfview.CarActivity" />
        <activity android:name=".aboutview.notification.NotificationActivity" />
        <activity android:name=".four_zujian.intentaction.IntentActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".four_zujian.intentaction.OpenIntentActivity" />
        <activity android:name=".aboutview.gaosimohu.VagueActivity" />
        <activity android:name=".four_zujian.service.ServiceActivity"/>
        <activity android:name=".aboutview.recycleview.RecycleActivity"/>
        <activity android:name=".aboutview.recycleview.citylist.CityActivity"/>
        <activity android:name=".aboutview.paint_canvas.CanvasActivity"/>
        <activity android:name=".aboutview.recycleview.skidview.SkidActivity"/>
        <activity android:name=".four_zujian.permission.PermissionActivity"/>
        <activity android:name=".aboutview.paint_canvas.PathActivity"/>
        <activity android:name=".aboutview.muiscradio.MusicActivity"/>
        <activity android:name=".four_zujian.camera.CameraActivity"/>
        <activity android:name=".aboutview.viewpager.ViewPagerActivity"/>
        <activity android:name=".aboutview.pobupwindow.PobActivity"/>
        <activity android:name=".four_zujian.downloadmanager.DownLoadActivity" />
        <activity android:name=".aboutview.image.slice.SliceActivity"/>
        <activity android:name=".libgdx.study.HelloGameActivity"/>
        <activity android:name=".libgdx.spinedemo.SpineActivity"/>
        <activity android:name=".lottie.LottieActivity"/>
        <activity android:name=".lottie.ClickActivity"/>
        <activity android:name=".UtilsActivity"/>
        <activity android:name=".aboutview.flowlayout.FlowLayoutActivity"/>
        <activity android:name=".aboutview.tablayout.TabLayoutActivity"/>
        <activity android:name=".aboutview.taobaogoods.TaoBaoActivity"/>
        <activity android:name=".demoforandroid.userui.DragViewActivity"/>
        <activity android:name=".aboutview.littlefunction.LittleFActivity"/>
        <activity android:name=".aboutview.bottomtabview.BTabViewActivity"/>
        <activity android:name=".aboutview.viewdoubleuse.DoubleUseOneActivity"/>
        <activity android:name=".aboutview.viewdoubleuse.DoubleUseTwoActivity"/>
        <activity android:name=".videodemo.VideoListActivity"/>
        <service android:name=".four_zujian.service.MyService"/>
        <service android:name=".four_zujian.service.MessengerService"/>
        <activity android:name=".zlibrary.LibraryActivity"/>
        <activity android:name=".zlibrary.PublicActivity"/>
        <activity android:name=".publicmanager.ipc.IPCActivity"/>
        <activity android:name=".aboutview.wxfriends.FriendsActivity"/>
        <activity android:name=".aboutview.pulltorefresh.SwipeRefreshActivity"/>
        <activity android:name=".publicmanager.refreshview.RefreshViewActivity"/>
        <activity android:name=".publicmanager.popwindow.PopWindowActivity"/>
        <activity android:name=".publicmanager.webviewlist.WebViewListActivity"/>
        <activity android:name=".publicmanager.WebViewAcivity"/>
        <activity android:name=".publicmanager.newfirst.NewsDetailDetailActivity"/>

        <service android:name=".four_zujian.service.ClickService"/>

        <receiver android:name=".four_zujian.downloadmanager.DownloadManagerReceiver">
            <intent-filter>
                <!-- 配置 点击通知 和 下载完成 两个 action -->
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
    </application>


</manifest>